<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url('https://static.vecteezy.com/system/resources/thumbnails/001/842/887/small/light-red-background-with-spots-vector.jpg');
            background-size: 100%;
        }
    </style>
</head>
<body>
    <center>
    <form method="post">
        <h1><b>Sign Up Form</b></h1>
        <label for=""><b>Username</b></label>
        <input name="Username" type="text"><br><br><br>
        <label for=""><b>Mobile</b></label>
        <input name="Mobile" type="text"><br><br><br>
        <label for=""><b>Address</b></label>
        <input name="Address" type="text"><br><br><br>
        <label for=""><b>Email</b></label> 
        <input name="Email" type="text"><br><br><br>
        <label for=""><b>Password</b></label>
        <input name="Password" type="password"><br><br><br>
        <button>submit</button>
    </form>
    </center>
</body>
</html>